#position {
    position: absolute;
    right: 400px;
    top: 230px;
}

h2{
    text-align:center;
}

.tblheader {
    background-color: mediumpurple;
    color: white;
}

table {
    text-align: center;
}

.centered{
    text-align:center;
}

body {
    color: black;
    background-image: none !important;
    background-color: lavenderblush;
}

.TBrows {
    background-color: white;
}


@media only screen and (max-width: 414px) {

    .respon {
        margin-bottom: 5%;
        position: inherit;
        right: -33%;
    }

    .responAlign{
        text-align:center;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .respon {
        position: inherit;
        right: 18px;
    }

    .responAlign {
        text-align: right;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1024px) {

    .responAlign {
        text-align: right;
    }
}