a.logo {
    background: url(/Content/Images/Gshift.png) no-repeat top left;
    display: block;
    background-size: contain;
    width: 150px;
    text-indent: -9999px;
    direction: ltr;
}

body {
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    background-image: url(Images/background-desk-desktop-background-1097930.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
}

.namestyle {
    font-family: 'Kalam', cursive;
    color: mediumpurple;
}

.side_menubtn {
    position: absolute;
    top: 10%;
    right: 5%;
}

.rightsidename {
    position: absolute;
    right: 20%;
    left: 70%;
}

.rightsidelog {
    position: absolute;
    right: 30%;
}

.picbar{

}


@media only screen and (max-width: 575px) {
    .rightsidename {
        position: inherit !important;
    }

    .rightsidelog {
        position: relative;
        right: 15%;
        padding-top: 5%;
    }

    #navbarColor03 {
        position: relative;
        right: 15%;
    }
}

@media only screen and (max-width: 1366px) {
    .rightsidename {
        position: inherit !important;
        /*padding-top: 5%;*/
    }
    .rightsidelog {
  
        right: 75px !important;
        padding-left: 5%;
    }
}

@media only screen and (max-width: 1024px) {
    .rightsidelog {
        position: inherit !important;
    }

}
