h2{
    text-align:center;
}

tr > th{

    text-align:center;
    background-color:mediumpurple;
    color:white;
    font-weight:600;
}

.rightpos {
    position: absolute;
    right: 21%;
    top: 22%;
}

.TBrows {
    background-color: white;
}

tr > td {
    color:black;
    text-align:center;
}

h4{
    text-align: center;
}

.msg{
    text-align:center;
}

strong{
    font-weight: 600;
}
.warningmsg {
    text-align: center;
}
.padmsg{
    margin-bottom:3%;
}
